.page-container {
  overflow-y: hidden;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0 0.5rem;
  background-color: lightgrey;
}

.search-container__category {
  width: 10rem;
  padding: 0.5rem 0.75rem;
}

.search-container__searchInput {
  width: 20rem;
  padding: 0.5rem;
  border-radius: 2rem;
}

.search-container__searchButton {
  padding: 0.5rem;
}

.products-container {
  overflow-y: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.75rem;
  margin: 0.75rem 0.5rem 0.5rem;
  max-height: calc(100vh - 5rem);
}

.product-container {
  flex-basis: 20%;
  flex-grow: 1;
  border: 0.5px solid white;
  border-radius: 0.25rem;
}

.product-container__image {
  width: 100%;
  justify-self: center;
}

.product-container__details {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
}

.product-container__price {
  font-size: 1.5rem;
}
